body {
    font-family: "courier";
    background: rgb(22, 21, 21);
    color: #d1c6af;
    height: 10vh;
    margin: 2;
    display: grid;
    place-items: center;
}

h1 {
    font-family: "Papyrus";
    color: #c79115;
    height: 10vh;
    margin: 0;
    display: grid;
    place-items: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5b1905;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

h2 {
    place-items: center;
}